# Workflow output
# ---------------
results/*
report/*
!report/*.pdf
!report/*.tex
# !report/figures # TODO: Too many figures as-is ...

# Log directories, caches
# -----------------------
logs/*
dev
archive
data

# TODO: deprecate
data_lake

# Nextflow
.nextflow
.nextflow.log*
work/*

# Snakemake
.snakemake

# SLURM
*.err
*.out
